body {
    background-color: #f3f3f3;
    font-size: 1.2em; 
}

.container {
    width: 80%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2mm;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

@media all and (min-width: 1367px) {
    .container { width: 40%; }
    body { font-size: 1.2em; }
}

@media all and (min-width: 1280px) and (max-width: 1366px) {
    .container { width: 60%; }
    body { font-size: 1.2em; }
}

@media all and (max-width: 1090px) {
    .container { width: 90%; }
    body { font-size: 2.0em; }
}

h1 { font-family: Consolas, monaco, monospace; font-size: 170%; font-style: normal; font-variant: normal; font-weight: 700; line-height: 190%; }
h3 { font-family: Consolas, monaco, monospace; font-size: 100%; font-style: normal; font-variant: normal; font-weight: 400; line-height: 110%; font-style:italic; color: #777;}
p, div { font-family: Consolas, monaco, monospace; font-size: 100%; font-style: normal; font-variant: normal; font-weight: 500; line-height: 110%; }
blockquote { font-family: Consolas, monaco, monospace; font-size: 150%; font-style: normal; font-variant: normal; font-weight: 400; line-height: 200%; }
pre { font-family: Consolas, monaco, monospace; font-size: 90%; font-style: normal; font-variant: normal; font-weight: 400; line-height: 133%; }


#textbox {
    font-family: Consolas, monaco, monospace;
    font-size: 120%;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 190%;
    color: #333;
    width:90%;
    border: 1px solid #777;
    border-radius: 1mm;
    margin-bottom: 0.5em;
}

#button_send {
    background: #777;
    font-family: Consolas, monaco, monospace;
    font-size: 120%;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 190%;
    color: #eee;
    width:5em;
    border: 1px solid #777;
    border-radius: 1mm;
}

#history {
    padding: 1em;
    overflow-y: scroll;
    height:30%;
    border: 1px solid #ccc;
    border-radius: 1mm;;
}

#text_limit {
    color: #777;
    margin-left: -3.8em;
    text-align: left;
}

#info {
    color: #777;
    font-size: x-small;
}

.time {
    font-size: 70%;
    color: #777;
    vertical-align: bottom;
}

.message_box {
    border: 1px solid #ccc;
    border-radius: 0.2em;
    line-height: 200%;
    margin-bottom: 0.2em;
}